body {
	font-size: 14px;
}

h1 {
	padding-top: 22px;
	font-weight: bold;
	font-size: 24px;
}

h2 a, p a {
	color: #ff00ff;
}

.important {
	margin: 20px 20px 50px;
}

h2 {
	font-size: 18px;
}

h3 {
	font-size: 16px;
}

header em {
	color: #000;
	font-size: 14px;
}

header {
	height: 100px;
	text-align: center;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.02, rgb(55,55,55)),
		color-stop(0.04, rgb(0,0,0)),
		color-stop(0.06, rgb(99,0,99)),
		color-stop(1, rgb(255,0,255))
	);
}

p {
	padding: 20px 0 20px;
}

section {
	display: none;
	padding: 20px;
}